@import 'ext/solarized-light';

@media only screen and (min-width: 1000px) {
	div.highlighter-rouge {
		width: 75vw;
		position: relative;
		right: 150px;
		margin: 40px 0;
	}
}

.highlight {
	background-color: #f4f4f4;
}

@media only screen and (min-width: 1000px) {
	div.highlight {
		border-radius: 25px;
		padding: 10px 30px;
		margin-left: 120px;
	}
}


pre.highlight, code {
	font-family: 'Consolas', Menlo, monospace;
	line-height: 1.4em;
	tab-size: 2;
	background-color: #f4f4f4;
}
